@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
:root {
    --primary-color: #212529;
    --secondary-color: #6c757d;
    --light-color: #adb5bd;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: var(--primary-color);
}
h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}
/* Grid
-------------------------------------- */
/* Define the grid */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
  }
    
  .sidebar {
    grid-row-end: span 1;
    background-color: #540d6e;
    color: #fff;
    padding: 10px;

  }

  .sidebar ul li {
    background-color: var(--light-color);
    border-radius: 8px;
    margin: 4px;
    
  }
  
  /* Generic styles for demo purposes
  -------------------------------------- */
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
  }
  
  
  /* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
  .content {
    min-height: 350px;
  }
  
  .header  {
      display: flex;
      border-bottom: 1px solid var(--primary-color);
      padding: 0 10px;
      
  }
  
  .header i {
      
      font-size: 1.2em;
      padding: 10px 5px;
      color: var(--light-color);
  }

  .menu-bar {
      float: right;
      margin-left: auto;    
      display: flex;
  }
  
  .search-div {
      width: 200px;
      margin: 0 10px;
  }
  input[type="text"] {
    
    height: 20px;
    margin-bottom: 10px;
    border: solid 1px var(--light-color);
    border-radius: 4px;
    
    width: 100%;
    padding: 5px;
    margin: 0;
    padding-left: 25px;
    
    
  }
  
.search-icon {
    padding-left: 25px;
    background: url("./assets/search-2-24.png") no-repeat left;
    background-size: 0.9rem;
    background-position: 4px 8px;
}
.search-bar {
    width: 70%;
    padding: 20px 0 20px 20px;   
}

.apps {
    padding: 10px;
}

.apps-title {
    display: flex;
    justify-content: space-between;
}

.app-title {
    color: var(--primary-color);
}

.app-desc {
    color: var(--light-color);
}

.app-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.app-item {
    border: 1px solid var(--light-color);
    padding: 10px;
    border-radius: 10px;
    min-height: 70px;
}
.app-item i {
    font-size: 3rem;
    padding: 2px 10px 0 2px;
    float: left;

}
.app-item > div {
    font-size: 1.2em;
    font-weight: 900;
}
.app-item p {
    color: var(--secondary-color);
    
}

button {
    width: 100%;
    height: 38px;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    margin-top: 20px;
}

.sharp-items  {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
  }
  
  li {
    padding-left: 1em;
    text-indent: -2em;
  }


ul li:before {    
    content: "#";
    
    
}