@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
:root {
    --primary-color: #212529;
    --secondary-color: #6c757d;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: var(--primary-color);
}
h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}
/* Grid
-------------------------------------- */
/* Define the grid */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
  }
    
  .sidebar {
    grid-row-end: span 1;
    background-color: #540d6e;
    color: #fff;

  }
  
  /* Generic styles for demo purposes
  -------------------------------------- */
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
  }
  
  
  /* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
  .content {
    min-height: 350px;
  }
  
  .header  {
      display: flex;
      border-bottom: 1px solid var(--primary-color);
      padding: 0 10px;
      
  }
  .header > div {
      flex-grow: 1;
      
  }
  .header i {
      color: var(--secondary-color);
      font-size: 1.2em;
      padding: 10px 5px;
  }